<!DOCTYPE html>
<html lang="en">

<head>
    @RenderPage("~/Templates/Common/_Head.cshtml", new { title = "MovieBase | Your movie database" })

    <link href="~/css/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="~/">MovieBase</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="~/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/About" data-offset="100">About</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/alvaro-gamboa"><i class="fab fa-linkedin-in light-green-text-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="home" class="view jarallax">
            <div class="container h-100">
                <div class="row smooth-scroll m-auto" id="mainDesc">
                    <div class="col-md-12 pt-3">
                        <div class="text-center pt-5">
                            <h1 class="mb-4 white-text fadeIn" id="welcome">Welcome to <strong>MovieBase</strong></h1>
                            <h5 class="text-uppercase font-weight-bold fadeIn h5-responsive"><mark>Your movie database. Make yourself at home.</mark></h5>
                            <a href="#main" class="btn btn-floating btn-large btn-unique fadeIn" data-offset="100"><i class="fas fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container" id="main">
            <section class="section pb-4 fadeIn" id="popularMoviesSection">
                <h1 class="font-weight-bold text-center h1 my-5 h1-responsive"><i class="fas fa-fire mr-3 red-text"></i>Popular Movies</h1>
                <p class="text-center grey-text mb-5 mx-auto w-responsive">
                    <i class="fas fa-quote-right mr-2"></i><em>We don’t make movies to make money, we make money to make more movies.</em><br /><span class="mx-2">-</span>Walt Disney
                </p>
                <div class="row" id="row0"></div>
            </section>
            <section class="section pb-5 d-none" id="loader">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="spinner-layer spinner-red">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="spinner-layer spinner-yellow">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="spinner-layer spinner-green">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    @RenderPage("~/Templates/Common/_Footer.cshtml")
    @RenderPage("~/Templates/Common/_Scripts.cshtml")

    <script type="text/javascript" src="~/js/home/home.js"></script>

</body>

</html>