<!DOCTYPE html>
<html lang="en">

<head>
    @RenderPage("~/Templates/Common/_Head.cshtml", new { title = "MovieBase | Your movie database" })

    <link href="~/css/search.css" rel="stylesheet">
</head>

<body>
    <header>
        @RenderPage("~/Templates/Common/_Header.cshtml")
    </header>

    <main>
        <div class="container" id="main">
            <section class="section py-5 fadeIn">
                <h1 class="font-weight-bold text-center h1 mt-5 mb-4 h1-responsive"><i class="fas fa-film mr-3 indigo-text"></i>Search Movie</h1>

                <div class="row d-flex justify-content-center align-items-center">
                    <div class="md-form my-3 mr-2">
                        <i class="fas fa-search prefix mt-1"></i>
                        <input type="text" id="searchMovie" class="form-control">
                        <label for="searchMovie" id="inputLabel">Search movie</label>
                    </div>
                    <a class="btn-floating btn-sm blue-gradient m-2" id="mic"><i class="fas fa-microphone"></i></a>
                    <div class="spinner-grow text-primary d-none m-2" id="listening" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="row d-none mt-4" id="divResults">
                    <div class="card card-cascade wider m-auto">
                        <div class="view view-cascade gradient-card-header blue-gradient py-2">
                            <h4 class="card-header-title m-0"><i class="fas fa-list-ul mr-3"></i>Results</h4>
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <p class="card-text" id="movieList">

                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    @RenderPage("~/Templates/Common/_Footer.cshtml")
    @RenderPage("~/Templates/Common/_Scripts.cshtml")

    <script type="text/javascript" src="~/js/search/movieSearch.js"></script>
    <script type="text/javascript" src="~/js/search/recognition.js?v=1"></script>
</body>

</html>