#welcome {
    font-size: 5rem;
}
@media (max-width: 740px) {
    #welcome {
        font-size: 2.5rem;
    }
}

html,body,header,.jarallax {
    height: 100%;
}

#mainDesc{
    margin-top: 7rem !important;
}
@media (max-width: 740px) {
    #mainDesc {
        margin-top: 1rem !important;
    }
}

mark {
    line-height: 1.5;
}

.heart {
    color: #757575;
}
    .heart:hover {
        transition: 0.3s;
        color: rgb(192, 25, 25);
    }

#home {
    background-image: url('../img/web/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.badge-pill{
    font-size: 14px !important;
}

.small {
    color: #bdbdbd !important;
}

@media (max-width: 767px) {
    .col-lg-3 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}