<footer class="page-footer bg-dark mt-0 pt-0 text-center text-md-left">
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            @DateTime.Now.Year<i class="fas fa-code mx-3"></i>Coded by <a href="https://www.linkedin.com/in/alvaro-gamboa" target="_blank"> Álvaro Gamboa </a>
        </div>
    </div>
</footer>